@mixin apply-hover-transition($initialBackgroundColor, $hoverColor) {
  position: relative;
  background-clip: padding-box;
  z-index: 1;
  overflow: clip;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.0625rem;
    right: calc(100% + 0.125rem);
    width: calc(100% + 0.125rem);
    height: calc(100% + 0.125rem);
    background-color: $hoverColor;
    border-radius: 3rem;
    z-index: -1;
    box-sizing: border-box;
  }

  &::after {
    width: calc(100% + 0.125rem);
    height: calc(100% + 0.125rem);
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    border-radius: 3rem;
    background-color: $initialBackgroundColor;
    z-index: -2;
  }

  &:hover {
    &::before {
      right: 0;
      transition: all 0.3s;
    }
  }
}

.button {
  button,
  label,
  a {
    @media (max-width: 37.5rem) {
      width: 100%;
      text-align: center;
      // justify-content: center;
    }
    @media (min-width: 37.5rem) {
      padding: 1rem 3.5rem;
    }
  }

  button {
    border-radius: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: "DM Sans", sans-serif;
    line-height: 150%;
    letter-spacing: -0.03em;
    font-size: 1rem;
    font-weight: 500;
  }
}

.button-large {
  button,
  label,
  a {
    padding: 1rem 1.5rem;
    min-height: 4rem;
    @media (min-width: 37.5rem) {
      padding: 1rem 3.5rem;
    }
  }
}

.button-small {
  button,
  label,
  a {
    padding: 1rem 2.5rem;
    min-height: 3.5rem;
  }
}

.button-full-dark {
  @include apply-cta-full-dark;
  button,
  label,
  a {
    background-color: var(--cta-full-background);
    color: var(--cta-full-text);
    border: 1px solid var(--cta-full-border);
    @media (hover: hover) and (pointer: fine) {
      @include apply-hover-transition(
        var(--cta-full-background),
        var(--cta-full-hover-background)
      );

      &:hover {
        color: var(--cta-full-hover-text);
        border-color: var(--cta-full-hover-border);
      }
    }
  }
}

.button-full-light {
  @include apply-cta-full-light;
  button,
  label,
  a {
    background-color: var(--cta-full-background);
    color: var(--cta-full-text);
    border: 1px solid var(--cta-full-border);

    @media (hover: hover) and (pointer: fine) {
      @include apply-hover-transition(
        var(--cta-full-background),
        var(--cta-full-hover-background)
      );

      &:hover {
        color: var(--cta-full-hover-text);
        border-color: var(--cta-full-hover-border);
      }
    }
  }
}

.button-outline-dark {
  @include apply-cta-outline-dark;
  button,
  label,
  a {
    background-color: transparent;
    color: var(--cta-outline-text);
    border: 1px solid var(--cta-outline-border);

    @media (hover: hover) and (pointer: fine) {
      @include apply-hover-transition(
        var(--cta-outline-background),
        var(--cta-outline-hover-background)
      );

      &:hover {
        color: var(--cta-outline-hover-text);
        border-color: var(--cta-outline-hover-border);
      }
    }
  }
}
