// VARIABLES

:root {
  // Default spacing
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2.5rem;

  --spacing-responsive-1: 3.5rem;
  --spacing-responsive-2: 4rem;
  --spacing-responsive-3: 4.5rem;
  --spacing-responsive-4: 4.5rem;
  --spacing-responsive-5: 4.5rem;
  --spacing-responsive-6: 5rem;

  // Radius sizes
  --radius-small: 0.5rem;
  --radius-medium: 0.75rem;
  --radius-large: 3rem;

  // Grid
  // --grid-gap: 1rem;
  --grid-columns-s: 6;
  --grid-columns-m: 6;
  --grid-columns-l: 12;
  --grid-columns-xl: 12;

  // Medium/Tablet size and up (600px +)
  @media (min-width: 600px) {
    --spacing-6: 2rem;
    --spacing-responsive-3: 5rem;
    --spacing-responsive-4: 5rem;
    --spacing-responsive-5: 5rem;
    --spacing-responsive-6: 6rem;
  }

  // Large/Desktop size and up (1135px +)
  @media (min-width: 1135px) {
    --spacing-responsive-5: 6rem;
    --spacing-responsive-6: 7rem;
  }

  // XLarge/Large Desktop size and up (1440px +)
  @media (min-width: 1440px) {
    --spacing-responsive-1: 4rem;
    --spacing-responsive-2: 4.5rem;
    --spacing-responsive-4: 6rem;
    --spacing-responsive-5: 7rem;
    --spacing-responsive-6: 8rem;
  }
}

// Spacing Demo

.demo-spacing-1 {
  border: solid rgb(61 148 255) var(--spacing-1);
  margin: var(--spacing-1) 0;
}

.demo-spacing-2 {
  border: solid rgb(61 148 255) var(--spacing-2);
  margin: var(--spacing-1) 0;
}

.demo-spacing-3 {
  border: solid rgb(61 148 255) var(--spacing-3);
  margin: var(--spacing-1) 0;
}

.demo-spacing-4 {
  border: solid rgb(61 148 255) var(--spacing-4);
  margin: var(--spacing-1) 0;
}

.demo-spacing-5 {
  border: solid rgb(61 148 255) var(--spacing-5);
  margin: var(--spacing-1) 0;
}

.demo-spacing-6 {
  border: solid rgb(61 148 255) var(--spacing-6);
  margin: var(--spacing-1) 0;
}

.demo-spacing-7 {
  border: solid rgb(61 148 255) var(--spacing-7);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-1 {
  border: solid rgb(61 148 255) var(--spacing-responsive-1);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-2 {
  border: solid rgb(61 148 255) var(--spacing-responsive-2);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-3 {
  border: solid rgb(61 148 255) var(--spacing-responsive-3);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-4 {
  border: solid rgb(61 148 255) var(--spacing-responsive-4);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-5 {
  border: solid rgb(61 148 255) var(--spacing-responsive-5);
  margin: var(--spacing-1) 0;
}

.demo-spacing-responsive-6 {
  border: solid rgb(61 148 255) var(--spacing-responsive-6);
  margin: var(--spacing-1) 0;
}

// Grid Wrapper
.l-grid {
  display: grid;
  // grid-gap: 1rem;
  grid-template-columns: repeat(var(--grid-columns-l), 1fr);
  margin: 0 1rem;
  @media (min-width: 600px) {
    margin: 0 2rem;
  }
  @media (min-width: 1135px) {
    margin: 0 5rem;
  }
  @media (min-width: 1440px) {
    margin: 0 6.5rem;
  }
}

.l-grid.demo > * {
  background-color: orange;
  text-align: center;
  padding: 0.125rem 0.25rem;
}

.l-grid > * {
  grid-column: span 2; // grid items spans 2 cols, so 6 cols in total
  @media (min-width: 1135px) {
    grid-column: span 1; // grid items spans 1 col, so 12 cols in total
  }
}

.l-grid > .l-grid-half {
  grid-column: span 6;
}

.l-grid > .l-grid-third {
  grid-column: span 4;
}

.l-grid > .l-grid-default {
  grid-column: 1 / -1;
}

.l-grid > .l-grid-floating {
  grid-column-start: 9;
  grid-column-end: 13;
}
