// VARIABLES

:root {
  // Default spacing
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-7: 2.5rem;
  --spacing-8: 3.5rem;
  --spacing-9: 4rem;
  --spacing-10: 4.5rem;
  --spacing-11: 4.5rem;
  --spacing-12: 4.5rem;
  --spacing-13: 5rem;
  --spacing-14: 1rem;

  // Radius sizes
  --radius-small: 0.5rem;
  --radius-medium: 0.75rem;
  --radius-large: 3rem;

  // Grid
  --grid-gap: 1rem;
  --grid-columns-s: 6;
  --grid-columns-m: 6;
  --grid-columns-l: 12;
  --grid-columns-xl: 12;
}

// Grid Wrapper
.l-grid {
  display: grid;
  // grid-gap: 1rem;
  grid-template-columns: repeat(var(--grid-columns-l), 1fr);
  margin: 0 1rem;
  @media (min-width: 600px) {
    margin: 0 2rem;
  }
  @media (min-width: 1135px) {
    margin: 0 5rem;
  }
  @media (min-width: 1440px) {
    margin: 0 6.5rem;
  }
}

.l-grid.demo > * {
  background-color: orange;
  text-align: center;
  padding: 0.125rem 0.25rem;
}

.l-grid > * {
  grid-column: span 2; // grid items spans 2 cols, so 6 cols in total
  @media (min-width: 1135px) {
    grid-column: span 1; // grid items spans 1 col, so 12 cols in total
  }
}

.l-grid > .l-grid-half {
  grid-column: span 6;
}

.l-grid > .l-grid-third {
  grid-column: span 4;
}

.l-grid > .l-grid-default {
  grid-column: 1 / -1;
}

.l-grid > .l-grid-floating {
  grid-column-start: 9;
  grid-column-end: 13;
}
