:root {
  // COLOURS
  color-scheme: light dark;

  // PRIMARY

  --red-100: #ab1236;
  --red-90: #b32a4a;
  --red-80: #bc415e;
  --red-70: #c45972;
  --red-60: #cd7186;
  --red-50: #d5899b;
  --red-40: #dda0af;
  --red-30: #e6b8c3;
  --red-20: #eed0d7;
  --red-10: #f7e7eb;
  --red-5: #fbf3f5;

  --black-100: #131313;
  --black-95: #1f1f1f;
  --black-90: #2b2b2b;
  --black-80: #424242;
  --black-70: #5a5a5a;
  --black-60: #787878;
  --black-50: #898989;
  --black-40: #a1a1a1;
  --black-30: #b8b8b8;
  --black-20: #d0d0d0;
  --black-10: #e7e7e7;
  --black-5: #f3f3f3;

  /* || SECONDARY */
  --white: #fff;

  --purple-100: #640032;
  --purple-90: #741a47;
  --purple-80: #83335b;
  --purple-70: #934d70;
  --purple-60: #a26684;
  --purple-50: #b28099;
  --purple-40: #c199ad;
  --purple-30: #d1b3c2;
  --purple-20: #e0ccd6;
  --purple-10: #f0e6eb;
  --purple-5: #f6f1f4;

  /* || ACCENT */

  --pink-100: #ee3968;
  --pink-90: #f04d77;
  --pink-80: #f16186;
  --pink-70: #f37495;
  --pink-60: #f588a4;
  --pink-50: #f79cb4;
  --pink-40: #f8b0c3;
  --pink-30: #fac4d2;
  --pink-20: #fcd7e1;
  --pink-10: #fdebf0;
  --pink-5: #fef4f6;

  --navy-100: #1e1e51;
  --navy-90: #353562;
  --navy-80: #4b4b74;
  --navy-70: #626285;
  --navy-60: #787897;
  --navy-50: #8f8fa8;
  --navy-40: #a5a5b9;
  --navy-30: #bcbccb;
  --navy-20: #d2d2dc;
  --navy-10: #e9e9ee;
  --navy-5: #f4f4f7;
}

// COLOUR SWATCHES
.colour-swatches {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 175px));
  gap: 13px;
  margin-bottom: 24px;
  list-style: none;

  li {
    border-radius: 5px;
    padding: 5px;

    .colour-swatch {
      display: block;
      height: 90px;
      margin-bottom: 8px;
      border: 1px solid lightgray;
    }
    p {
      margin: 0;
    }
  }
}

// Button themes
@mixin apply-cta-primary-red {
  // Light nd Dark mode are the same for Primary Red button
  // Default
  --cta-primary-default-background: var(--red-100);
  --cta-primary-default-text: var(--white);
  --cta-primary-default-border: var(--red-100);

  // Hover
  --cta-primary-hover-background: var(--red-80);
  --cta-primary-hover-text: var(--white);
  --cta-primary-hover-border: var(--red-80);

  // Pressed
  --cta-primary-pressed-background: var(--red-80);
  --cta-primary-pressed-text: var(--white);
  --cta-primary-pressed-border: var(--red-80);

  // Focused
  --cta-primary-focused-background: var(--red-100);
  --cta-primary-focused-text: var(--white);
  --cta-primary-focused-border: var(--red-50);
}

@mixin apply-cta-full-dark {
  // Base
  --cta-full-background: var(--navy-blue-100);
  --cta-full-text: var(--white);
  --cta-full-border: var(--navy-blue-100);

  // Hover
  --cta-full-hover-background: var(--white);
  --cta-full-hover-text: var(--navy-blue-100);
  --cta-full-hover-border: var(--navy-blue-100);

  // Disabled
  --cta-full-disabled-background: var(--navy-blue-40);
  --cta-full-disabled-text: var(--navy-blue-10);
  --cta-full-disabled-border: var(--navy-blue-40);

  // Active
  --cta-full-active-background: var(--navy-blue-40);
  --cta-full-active-text: var(--navy-blue-40);
  --cta-full-active-border: var(--navy-blue-40);

  // Focus
  --cta-full-focus-background: var(--navy-blue-40);
  --cta-full-focus-text: var(--navy-blue-40);
  --cta-full-focus-border: var(--navy-blue-40);
  --cta-full-focus-outline: var(--teal-100);
}
@mixin apply-cta-full-light {
  // Base
  --cta-full-background: var(--teal-100);
  --cta-full-text: var(--navy-blue-100);
  --cta-full-border: var(--teal-100);

  // Hover
  --cta-full-hover-background: var(--navy-blue-100);
  --cta-full-hover-text: var(--white);
  --cta-full-hover-border: var(--white);

  // Disabled
  --cta-full-disabled-background: var(--navy-blue-60);
  --cta-full-disabled-text: var(--navy-blue-20);
  --cta-full-disabled-border: var(--navy-blue-60);

  // Active
  --cta-full-active-background: var(--navy-blue-100);
  --cta-full-active-text: var(--navy-blue-10);
  --cta-full-active-border: var(--navy-blue-10);

  // Focus
  --cta-full-focus-outline: var(--teal-100);
}
@mixin apply-cta-full-light-blue {
  // Base
  --cta-full-background: var(--teal-5);
  --cta-full-text: var(--navy-blue-100);
  --cta-full-border: var(--teal-5);

  // Hover
  --cta-full-hover-background: var(--teal-10);
  --background: var(
    --cta-full-hover-background
  ); // Override theme functionality for this button

  --cta-full-hover-border: var(--teal-10);

  // Disabled
  --cta-full-disabled-text: var(--navy-blue-40);
  --cta-full-disabled-border: var(--teal-5);
  --cta-full-disabled-background: var(--teal-5);

  // Active
  --cta-full-active-background: var(--teal-5);

  // Focus
  --cta-full-focus-outline: var(--navy-blue-100);
  --cta-full-focus-border: var(--teal-5);
}
@mixin apply-cta-outline-dark {
  // Base
  --cta-outline-background: transparent;
  --cta-outline-text: var(--navy-blue-100);
  --cta-outline-border: var(--navy-blue-100);

  // Hover
  --cta-outline-hover-background: var(--navy-blue-100);
  --cta-outline-hover-text: var(--white);
  --cta-outline-hover-border: var(--navy-blue-100);

  // Disabled
  --cta-outline-disabled-background: var(--white);
  --cta-outline-disabled-text: var(--navy-blue-40);
  --cta-outline-disabled-border: var(--navy-blue-40);

  // Active
  --cta-outline-active-background: var(--navy-blue-60);
  --cta-outline-active-text: var(--white);
  --cta-outline-active-border: var(--navy-blue-60);

  // Focus
  --cta-outline-focus-outline: var(--navy-blue-100);
}
@mixin apply-cta-outline-light {
  // Base
  --cta-outline-background: transparent;
  --cta-outline-text: var(--white);
  --cta-outline-border: var(--white);

  // Hover
  --cta-outline-hover-background: var(--teal-100);
  --cta-outline-hover-text: var(--navy-blue-100);
  --cta-outline-hover-border: var(--teal-100);

  // Disabled
  --cta-outline-disabled-background: var(--navy-blue-100);
  --cta-outline-disabled-text: var(--navy-blue-20);
  --cta-outline-disabled-border: var(--navy-blue-20);

  // Active
  --cta-outline-active-background: var(--teal-80);
  --cta-outline-active-text: var(--navy-blue-100);
  --cta-outline-active-border: var(--teal-80);

  // Focus
  --cta-outline-focus-outline: var(--white);
}
@mixin apply-cta-social-light {
  // Base
  --cta-social-background: var(--navy-blue-100);
  --cta-social-text: var(--white);
  --cta-social-border: var(--navy-blue-60);

  // Hover
  --cta-social-hover-border: var(--white);

  // Active
  --cta-social-active-border: var(--navy-blue-40);

  // Focus
  --cta-social-focus-border: var(--navy-blue-9);
  --cta-social-focus-outline: var(--white);
}
@mixin apply-cta-social-dark {
  // Base
  --cta-social-background: var(--white);
  --cta-social-text: var(--navy-blue-100);
  --cta-social-border: var(--navy-blue-9);

  // Hover
  --cta-social-hover-border: var(--navy-blue-100);

  // Active
  --cta-social-active-border: var(--navy-blue-40);

  // Focus
  --cta-social-focus-border: var(--navy-blue-9);
  --cta-social-focus-outline: var(--navy-blue-100);
}
@mixin apply-cta-carousel-dark {
  // Base
  --cta-carousel-background: var(--navy-blue-100);
  --cta-carousel-text: var(--white);
  --cta-carousel-border: var(--navy-blue-100);

  // Hover
  --cta-carousel-hover-text: var(--navy-blue-100);

  // Disabled
  --cta-carousel-disabled-background: var(--navy-blue-40);
  --cta-carousel-disabled-text: var(--navy-blue-10);
  --cta-carousel-disabled-border: var(--navy-blue-40);

  // Active
  --cta-carousel-active-background: var(--white);
  --cta-carousel-active-text: var(--navy-blue-100);
  --cta-carousel-active-border: var(--navy-blue-40);

  // Focus
  --cta-carousel-focus-outline: var(--teal-100);
}
@mixin apply-cta-carousel-light {
  // Base
  --cta-carousel-background: var(--teal-100);
  --cta-carousel-text: var(--navy-blue-100);
  --cta-carousel-border: var(--teal-100);

  // Hover
  --cta-carousel-hover-text: var(--white);
  --cta-carousel-hover-border: var(--white);

  // Disabled
  --cta-carousel-disabled-background: var(--navy-blue-40);
  --cta-carousel-disabled-text: var(--navy-blue-10);
  --cta-carousel-disabled-border: var(--navy-blue-40);

  // Active
  --cta-carousel-active-background: var(--navy-blue-100);
  --cta-carousel-active-text: var(--navy-blue-9);
  --cta-carousel-active-border: var(--navy-blue-10);

  // Focus
  --cta-carousel-focus-outline: var(--navy-blue-100);
}

// Text Buttons

@mixin apply-text-buttons-dark {
  // Base
  --cta-text: var(--navy-blue-100);

  // Disabled
  --cta-disabled-text: var(--navy-blue-40);

  // Active
  --cta-active-text: var(--navy-blue-40);
}

@mixin apply-text-buttons-light {
  // Base
  --cta-text: var(--white);

  // Disabled
  --cta-disabled-text: var(--navy-blue-40);

  // Active
  --cta-active-text: var(--teal-100);
}

@mixin apply-text-link-dark {
  --text-link-active-text: var(--navy-blue-60);
  --text-link-disabled-text: var(--navy-blue-40);
}

@mixin apply-text-link-light {
  --text-link-active-text: var(--teal-100);
  --text-link-disabled-text: var(--navy-blue-40);
}
