// Google font - DM Sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

// TYPOGRAPHY CSS VARIABLES
:root {
  --font-family: "DM Sans", sans-serif;
  --base-font-weight: 450;
  --bold-font-weight: 700;
}

.display-text {
  font-family: var(--font-family);
  font-weight: var(--base-font-weight);
  letter-spacing: -0.03em;
  line-height: 120%;
}

.display-text-1 {
  @extend .display-text;
  font-size: 2.875rem;
  @media (min-width: 37.5rem) {
    font-size: 3.25rem;
  }
  @media (min-width: 71rem) {
    font-size: 3.875rem;
  }
  @media (min-width: 90rem) {
    font-size: 4.6875rem;
  }
}

.display-text-2 {
  @extend .display-text;
  font-size: 2.5rem;
  @media (min-width: 37.5rem) {
    font-size: 2.875rem;
  }
  @media (min-width: 71rem) {
    font-size: 3.375rem;
  }
  @media (min-width: 90rem) {
    font-size: 4.1875rem;
  }
}

.display-text-3 {
  @extend .display-text;
  font-size: 2.125rem;
  @media (min-width: 37.5rem) {
    font-size: 2.375rem;
  }
  @media (min-width: 71rem) {
    font-size: 2.875rem;
  }
  @media (min-width: 90rem) {
    font-size: 3.75rem;
  }
}

.display-text-4 {
  @extend .display-text;
  font-size: 1.875rem;
  @media (min-width: 37.5rem) {
    font-size: 2.125rem;
  }
  @media (min-width: 71rem) {
    font-size: 2.5rem;
  }
  @media (min-width: 90rem) {
    font-size: 3.25rem;
  }
}

.display-text-5 {
  @extend .display-text;
  font-size: 1.75rem;
  @media (min-width: 37.5rem) {
    font-size: 1.875rem;
  }
  @media (min-width: 71rem) {
    font-size: 2.125rem;
  }
  @media (min-width: 90rem) {
    font-size: 2.8125rem;
  }
}

.display-text-6 {
  @extend .display-text;
  font-size: 1.625rem;
  @media (min-width: 37.5rem) {
    font-size: 1.75rem;
  }
  @media (min-width: 71rem) {
    font-size: 1.75rem;
  }
  @media (min-width: 90rem) {
    font-size: 2.3125rem;
  }
}

.heading-text {
  font-family: var(--font-family);
  font-weight: var(--base-font-weight);
  letter-spacing: -0.03em;
  line-height: 150%;
}

.heading-text-1 {
  font-size: 1.75rem;
}

.heading-text-2 {
  font-size: 1.375rem;
  @media (min-width: 90rem) {
    font-size: 1.5rem;
  }
}

.subheading-text {
  font-family: var(--font-family);
  font-weight: var(--base-font-weight);
  letter-spacing: 0.08em;
  line-height: 160%;
  text-transform: uppercase;
}

.subheading-text-1 {
  @extend .subheading-text;
  font-size: 1rem;
  @media (min-width: 90rem) {
    font-size: 1.125rem;
  }
}

.subheading-text-2 {
  @extend .subheading-text;
  font-size: 0.875rem;
  @media (min-width: 90rem) {
    font-size: 1rem;
  }
}

.bodytext {
  font-family: var(--font-family);
  font-weight: var(--base-font-weight);
  line-height: 1.5;
  letter-spacing: -0.03em;
}

.bodytext--small {
  font-size: 0.875rem;
  @media (min-width: 90rem) {
    font-size: 1rem;
  }
}

.bodytext--medium {
  font-size: 1rem;
  @media (min-width: 90rem) {
    font-size: 1.125rem;
  }
}

.bodytext--large {
  font-size: 1.125rem;
  @media (min-width: 90rem) {
    font-size: 1.25rem;
  }
}

.bodytext--weight-medium {
  font-weight: 500;
}

.bodytext--weight-bold {
  font-weight: 700;
}
